.root{
    height: 100%;
}
header.page {
   height: 30px;
    border-bottom: 1px solid #dfdfdf;
    outline: none;
}

header.page .status {
    background: #f4f4f4;
    border-bottom: 1px solid #dfdfdf;
}

header.page .status>.nav {
    width: 90vw;
    margin: auto;
    line-height: 30px;
}

header.page .status .nav-item {
    padding: 0 1rem;
}

header.page .status .nav-item:last-child {
    padding-right: 0;
}

footer.page {
    padding: 0;
    position: fixed;
    bottom: 0;
    margin:0;
    height: 30px;
    background: #f0f0f0;
    width: 100vw;
}

footer.page .copyright {
    width: 90vw;
    margin: 0px auto;
    text-align: center;
}
.dropdown .FIS>i{
    display: block;
    width:10px;
    height:10px;
}
.content-a a:link,a:visited,a:hover {
    color: black;
}

.huanying{
    font-size: 35px;
    font-weight: 700;
    color: #f26d5f;
    line-height: 38px;
    text-align: center;
    height: 89px;
    margin-top: 1px;
    background-color: #fff3e7;
}

.kongbai{
    height: 20px;
}