
.right-aside aside{
    width: 10vw;
    float:right;
    margin-left: 9vw;
}

.right-aside a{
    text-decoration: none;
}

.right-aside .right-one{
    width: 280px;
    height: 184px;
    /*display: inline-flex;*/
    /*justify-content: space-around;*/
    /*align-items: center;*/
    margin-top:10px;
    background-color: #dedede;
}
.right-aside .right-two{
    width: 280px;
    height: 480px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    margin-top:10px;
    background-color: #dedede;
    flex-direction: column;
}
 .right-two .right-zi{
    color: black;
    font-size:16px;
    font-family: "微软雅黑";
    background-color: #eae6e6;
     border-top: 1px solid #b5b1b1;

     height: 40px;
     width: 280px;
}
.right-two{

}
 .right-zi1{
     line-height: 38px;
     width: 280px;
     height: 40px;
     font-size: 14px;
 }
.right-zi>button{
    border-color:#ff8200 ;
    background-color: #ff8200;
    height: 34px;
    width: 160px;
    color: #ffffff;
    border-radius: 17px;
}
.right-zi>button:hover{
    border-color:#ff5900 ;
    background-color: #ff5900;
}

.num{
    width: 24px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 700;
    color: #f26d5f;
    line-height: 38px;
}

.a1{
    text-decoration: none;
    color: #939393;
}
.right-zi2{
    height: 40px;
    width: 280px;
}
.right-zi2>.a2{
    display: block;
    margin: 11px auto;
    color: #939393;
    font-size: 13px;
    width: 78px;

}
.right{
    margin-left: -55px;
}