
nav.publish,

.chi-cun{
    width: 60vw;
}
nav.list {
    width: 100vw;
    padding: 10px;
    border: 1px solid #dfdfdf;
    margin: 15px auto;
}

.editor-container {
    width: 60vw;
    border: 1px solid #dedede;
    margin: 15px auto;
}

.editor-container .topic-title {
    height: 40px;
    margin: 15px;
}

.editor-container input[type=text] {
    width: 60%;
    height: 38px;
    outline: none;
}

.editor-container .simditor {
    border: none;
    border-top: 1px solid #dedede;
}

.editor-container .buttons {
    height: 40px;
    padding-top: 15px;
    border-top: 1px solid #dedede;
    margin: 15px;
}

.editor-container .buttons>* {
    padding: 0;
}

.topics-container {
    width: 60vw;
    border: 1px solid #c69500;
    margin: 15px auto;
}
.btn-group{
    width: 60%;
}

.topics-container>.title {
    height: 36px;
    line-height: 36px;
    background: #ffeeba;
    color: #343a40;
    margin: 0;
}

.topics-container>.topic {
    height: 36px;
    line-height: 36px;
    margin: 0;
}

.topics-container>.topic:nth-child(2n+1) {
    background: #dfdfdf;
}

.topics-container .pagination-container {
    margin: 5px;
}

.topic-detail-container {
    width: 90vw;
    border: 1px solid #dedede;
    margin: 15px auto;
}

.topic-detail-container .topic-title {
    text-align: center;
}

.topic-detail-container .topic-author {
    text-align: center;
    background: #f4f4f4;
}

.topic-detail-container .topic-content {
    margin: 10px;
}

.topic-detail-container .topic-explains {
    border: 1px solid red;
    margin: 10px;
}
.list-conter{
    position: relative;
    margin: 0px auto;
    width: 60vw;
}
.topic-head-img{
    height: 30px;
    width: 30px;
}

.topic-list-detail-head{
   display: flex;
}
.athor-where{
    font-family: 老報宋;
    font-size: 4px;
    margin-top: 20px;
    color: #8c999f;
}
.topic-detail-category{
    color:#FF0000FF;
}
.topic-all{
    background: #edf2f6;
    margin: 10px;
}
