nav.publish,

nav.list {
    width: 90vw;
    padding: 10px;
    border: 1px solid #dfdfdf;
    margin: 15px auto;
}

.editor-container {
    width: 90vw;
    border: 1px solid #dedede;
    margin: 15px auto;
}

.editor-container .topic-title {
    height: 40px;
    margin: 15px;
}

.editor-container input[type=text] {
    width: 100%;
    height: 38px;
    outline: none;
}

.editor-container .simditor {
    border: none;
    border-top: 1px solid #dedede;
}

.editor-container .buttons {
    height: 40px;
    padding-top: 15px;
    border-top: 1px solid #dedede;
    margin: 15px;
}

.editor-container .buttons>* {
    padding: 0;
}

.topics-container {
    width: 60vw;
    border: 1px solid #c69500;
    margin: 15px auto;
}

.topics-container>.title {
    height: 36px;
    line-height: 36px;
    background: #7b7b95;
    color: #343a40;
    margin: 0;
}
.topics-container>.neirong {
    background: #e2e2e7;
}
.topics-container>.topic {
    height: 36px;
    line-height: 36px;
    margin: 0;
}
.chuxian{
    background-color: #8e1818;
    
}

.topics-container>.topic:nth-child(2n+1) {
    background: #dfdfdf;
}

.topics-container .pagination-container {
    margin: 12px;
    justify-content: center;
}

.topic-detail-container {
    width: 90vw;
    border: 1px solid #dedede;
    margin: 15px auto;
}

.topic-detail-container .topic-title {
    text-align: center;
}

.topic-detail-container .topic-author {
    text-align: center;
    background: #f4f4f4;
}

.topic-detail-container .topic-content {
    margin: 10px;
}

.topic-detail-container .topic-explains {
    border: 1px solid red;
    margin: 10px;
}
.list-conter{
    position: relative;
    margin: 0px 17vw;
    width: 60vw;
}
.topic-head-img{
    height: 50px;
    width: 50px;
}

.topic-anquan-img{
    height: 20px;
    width: 20px;
}

.topic-list-detail-head{
    display: flex;
    margin-bottom: 15px;
}
.athor-where{
    font-family: 老報宋;
    padding-left: 50px;
    font-size: 4px;
    margin-top: 8px;
    color: #8c999f;
}
.topic-detail-category{
    color:#FF0000FF;
}
.topic-all{
    background: #edf2f6;
    margin: 10px;
}

.icon-wrap{
    font-size: inherit;
    position: relative;
    z-index: 9;
    display: inline-flex;
    line-height: 1;
}

.main-vblue-skin{
    display: inline-block;
    color: #fff;
    position: relative;
    font-size: inherit;
    line-height: 1;
    cursor: pointer;
}

.athor-name{
    margin-top: 4px;
    font-weight: bold;
}

.guanzhu {
    text-align: center;
    column-rule-color: #007bff;
    border-radius: 25px;
    border: 1px solid ;
    width: 64px;
    height: 28px;
    margin-top: 10px;
    color: #007bff;
    margin-left: 50px;
}

.topic-content{
    display: flex;
    margin-left: 50px;
    margin-bottom: 20px;
}

.footerr{
    margin-bottom: 40px;
    display: flex;
    width: auto;
    justify-content: space-around;
    align-items: flex-end;
    justify-content: flex-end;
}

.footerr>*{
    display: flex;
    margin-right: 140px;
    flex-wrap: nowrap;
    justify-content: flex-end;
    text-align: center;
}

.footerr>a{
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight: bold;
}

.wolaijieda>a{
    font-size: 18px ;
    border: 1px solid #007bff;
    border-radius: 18px;
    padding-left: 7px;
    padding-right: 7px;
}

.wolaijieda{
    text-align: center;
}

.title-content{
    display: flex;
    margin-left: 50px;
    margin-bottom: 20px;
}

.category-content{
    display: flex;
    margin-left: 50px;
}

.praise{
    margin-left: -20px;
}
.editor-container .category-input {
    user-select: none;
    background: #dcdee3;
}



/* 锚点*/
.point-hs {
    width:50px;
    height: 50px;
    border-radius: 5px;
    position: fixed;
    right: 100px;
    bottom: 100px;
    background: #ffffff;
    padding: 13px 13px;
    display: block;
}
/*话题标签*/
.chu-xian{
    background-color: #ff8822;
    width: 80px;
    height: 40px;
}